@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Tutorial</h1>
    <p class="lead">This sample app uses the Outlook API for showing the events</p>
    <p><a href="#" class="btn btn-primary btn-lg">Click here to login</a></p>
</div>